[includeIf "gitdir:~/Dev/personal/"]
  path = ~/Dev/personal/dotfiles/.config/git/.gitconfig_personal
[includeIf "gitdir:~/Dev/work/"]
  path = ~/Dev/personal/dotfiles/.config/git/.gitconfig_work

[pull]
  rebase = false
[rerere]
  enabled = true
[credential]
	helper = !gh auth git-credential
	helper = store # keep it last to work
